html {
  font-size: 14px;
}

.albumBackground {
    background-image: url('/images/tumblr_c6b2229289e094497a3cb5290cccd3ee_d18a35ce_540.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding: 40px;
}

.albumBackground1 {
    background-image: url('/images/f069407edab4219e34f36ea331d1eb2e.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding: 40px;
}

body {
    background-image: url('/images/cyrene-hsr.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding: 40px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}